*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
    
}

.it{
  width: 200px;
  height: 200px;
  background-color: white;
  border: solid 2px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


